{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft": "Information",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  },
  "ConnectionStrings": {
    "LawCorpDb": "Server=.\\SQLEXPRESS;Database=LawCorpDev;Trusted_Connection=True;TrustServerCertificate=True;"
  }
}
